Здравствуйте, #{ @user.email }
= "=" * 40
 
На этот адрес сделан запрос на восстановление пароля.

Для того, чтобы сменить пароль, проследуйте по ссылке:
= @url

Если запрос сделали не вы - просто проигнорируйте это сообщение.

Не отвечайте на это сообщение, оно сгенерировано автоматически.

Удачного дня!