// Place all the styles related to the Units controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gold, .experience{
  background-image: url(/assets/i/res.gif);
  background-repeat:  no-repeat;
  height: 25px;
  padding: 5px 35px 5px 0px;
  font-size: 13px;
  font-weight: bold;
}
.gold{
  background-position: 100% 0;
}
.experience{
  background-position: 100% 100%;
}